* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

//   nav bar
.nav__bar{
    display: flex;
    // width: 1348px;
    // height: 70px;
    box-shadow: 5px 5px 10px #888888;
    padding: 20px 50px;
    justify-content: space-between;

    // .logo{
    //     img{
    //         // width: 100px;
    //         // height: 40px;
    //         // margin-left: 50%;
    //     }
    // }

    .bar__meun{
        color: orangered;
        font-size: 30px;
    }
    .ul__List{
        display: flex;
        justify-content: center;

        .sub__ul__list{
            list-style: none;
            justify-content: center;
            margin-left: 20px;
            font-weight: bold;
            font-size: 16px;


            a{
                text-decoration: none;
                color: black;
            }
        }
    }
    .social{
        a{
            text-decoration: none;
            color: black;
            margin-right: 15px;
            font-size: 20px;
        }
    }

}

// first section 

    .show__case{
        display: flex;
        padding: 20px;
        // width: 1320px;
        // // background-color: red;
        // height: 1100px;
        margin-top: 50px;
        // border-bottom: 1px solid grey;
        text-align: center;
        margin-left: 20px;
    
        .left__showcase{
            flex: 1;
            display: column;
            text-align: center;
            .first__box{
                // width: 300px;
                // height: 250px;
                margin-bottom: 30px;
                border-bottom:  1px solid rgb(227, 220, 220);
                // background-color: red;
                text-align: center;
    
                a{
                    img{
                        border-radius: 50%;
                        width: 70%;
                        border: 1px solid gray;
                    }
                }
                    
               
            }
        }
    
    
            .second__box{
                // width: 300px;
                // height: 300px;
                margin-bottom: 30px;
                border-bottom:  1px solid rgb(227, 220, 220);
                // background-color: red;
                text-align: center;
    
                a{
                    img{
                        border-radius: 50%;
                        width: 70%;
                        border: 1px solid gray;
    
                    }
                }
                    
            }
    
            .thrid__box{
                width: 300px;
                height: 300px;
                margin-bottom: 30px;
                // border-bottom:  1px solid rgb(227, 220, 220);
                // background-color: red;
                text-align: center;
    
                a{
                    img{
                        border-radius: 50%;
                        width: 70%;
                        border: 1px solid gray;
                    }
                }
                    
               
            }
    
    
            .middle__showcase{
                flex: 1;
                display: column;
                margin-left: 20px;
                
                .catalyst__image{
                    background-image: url("./images/catalyst.jpg");
                    width: 600px;
                    height: 600px;
                    margin-bottom: 30px;
                    background-repeat: no-repeat;
                    position: relative;
    
                    .blur__image{
                    position: absolute;
                    top: 76.8%;
                    padding: 70px 10px;
                    height: 100px;
                    width: 559px;
                    // margin-top: 200px;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 22.57%, rgba(12, 12, 12, 0.596) 83.65%, #040404 100%);
                        // // opacity: ;
                        // width: 600px;
                        // height: 40px;
                        color: white;
                        font-size: 28px;
                        // text-align: left;
                    
                    }
                }
            }
    
            .second__middle__showcase{
                // width: 560px;
                // height: 450px;
                font-size: 29px;
    
                a{
                    img{
                        width: 100%;
                        height: 80%;
                    }
                }
            }
    
            .right__showcase{
                flex: 1;
                display: column;
                margin-left: 0px;  
    
                .Latest__heading{
                    // width: 250px;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    border-bottom: 1px solid rgb(220, 218, 218);
                    // padding: 20px;
                    margin-bottom: 20px;
                }
                
                .lastest__info{
                    border-bottom: 1px solid rgb(199, 198, 198);
                    // width: 250px;
                    // height: 80px;
                    text-align: left;
                    padding: 5px;
                    // font-weight: bold;
    
                }
            }
        
    }
// stories line

.more__stories{
    // width: 1300px;
    display: flex;
    color: orangered;
    border-bottom: 1px solid grey;
    padding: 10px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 30px;


    .more__trending{
        flex: 1;
        text-align: center;
    }
    .more__lastest{
        flex: 1;
        text-align: center;
    }
}


// second section

.cards__section{
    display: flex;
    background-color: rgb(245, 143, 53);
    // width: 1348px;
    // height: 600px;
    justify-content: center;
    
    
    h4{
        color: white;
        text-align: center;
        padding: 10px;
    }

    .card1{
        // width: 300px;
        // height: 450px;
        margin-right: 5%;
        margin-top: 8%;

        .sub__card1{
            background-color: white;
            height: 380px;
            text-align: center;
            a{
                img{
                    width: 300px;
                    height: 320px;
                }
            }
        }
    }
    .card2{
        width: 300px;
        height: 450px;
        margin-right: 5%;
        margin-top: 8%;


        .sub__card2{
            background-color: white;
            height: 400px;
            text-align: center;
            font-size: 18px;
            a{
                img{
                    width: 300px;
                    height: 320px;
                }
            }
        }
    }
    .card3{
        width: 300px;
        height: 450px;
        margin-top: 8%;

        .sub__card3{
            background-color: white;
            height: 420px;
            text-align: center;
            font-size: 19.5px;
            a{
                img{
                    width: 300px;
                    height: 320px;
                }
            }
        }
    }
}

